<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <title>Register page</title>
</head>
<body>
    <header>
        <h1>Register for NRIIT Learning Management</h1>
        <p>Learn Practised Get Placed</p>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/courses">Courses</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/trainers.html">Trainers</a>
        </nav>
        <hr>
    </header>
    <main>
        <h2>Student Registration</h2>
        <form id="registerForm">
            <label>Full Name</label>
            <input type="text" placeholder="Enter Your Name" id="name"><br><br>
            <label>Email</label>
            <input type="email" placeholder="Enter Your Email" id="email"><br><br>
            <label>Password</label>
            <input type="password" placeholder="Enter Your Password" id="password"><br><br>
            <label>Date of Birth</label>
            <input type="date" id="dob"><br><br>
            <label>Gender</label>
            <input type="radio" name="gender" value="male" id="male"> Male
            <input type="radio" name="gender" value="female" id="female"> Female
            <input type="radio" name="gender" value="other" id="other"> Other<br><br>
            <label>Select Course</label>
            <select id="course" name="course">
                <option value="python">Python Fullstack</option>
                <option value="java">Java Fullstack</option>
                <option value="data-science">Data Science</option>
            </select>
            <br><br>
            <button type="submit" value="Register">Register</button>
        </form>
    </main>
    <footer>
        <hr>
        <p>&copy; 2026 NRI Learning Management System.</p>
        <p>Email: info@nriit.edu.in</p>
        <p>Phone: +91 9876543210</p>
        <p>Follow Us:</p>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">LinkedIn</a>
    </footer>
    <script src="js/script.js"></script>
</body>
</html>